{% include 'myapp/navbar.html' %}

<div class="container">
  <h1 class="text-center text-success">My Orders</h1>

  {% if user_orders %}
    {% for user_order in user_orders reversed %}
      <div class="card mx-auto mb-4" style="max-width: 600px;">
        <div class="card-header bg-success text-white">
          <p class="card-subtitle">Date: {{ user_order.created_at }}</p>
          <p class="card-subtitle">Total Amount: {{ user_order.total_amount }}</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Subtotal</th>
                </tr>
              </thead>
              <tbody>
                {% for order_item in user_order.orderitem_set.all %}
                  <tr>
                    <td>
                      <div class="media">
                        <img src="{{ order_item.product.image_url_1 }}" alt="{{ order_item.product.name }}" class="mr-3 img-thumbnail" width="100" height="100">
                        <div class="media-body">
                          <h5 class="mt-0 text-success">{{ order_item.product.name }}</h5>
                        </div>
                      </div>
                    </td>
                    <td>{{ order_item.quantity }}</td>
                    <td>{{ order_item.product.price }}</td>
                    <td>{{ order_item.subtotal }}</td>
                  </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3" class="text-end"><strong>Total</strong></td>
                  <td>{{ user_order.total_amount }}</td>
                </tr>
              </tfoot>
            </table>
          </div>
          <h4 class="text-success">Tracking Details</h4>
          <p class="text-success">Tracking ID: {{ user_order.pk }}</p>
          <p class="text-success">Expected Delivery Date: {{ user_order.created_at|date:'Y-m-d' }}</p>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p class="text-center text-danger">No orders found.</p>
  {% endif %}
</div>
