{% include 'myapp/navbar.html' %}

<div class="container d-flex justify-content-center align-items-center vh-100">
  <form id="payment-form" class="text-center">
    <h3 class="mb-4 display-4">Select Payment Method:</h3>
    
    <div class="form-check">
      <input class="form-check-input" type="radio" id="razorpay" name="payment_method" value="razorpay" checked>
      <label class="form-check-label" for="razorpay" style="font-size: 24px;">Razorpay</label>
    </div>
    
    <button type="submit" class="btn btn-primary" style="font-size: 28px;">Proceed to Payment</button>
  </form>
</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  document.getElementById("payment-form").addEventListener("submit", function(e) {
    e.preventDefault();

    var selectedPaymentMethod = document.querySelector('input[name="payment_method"]:checked').value;
    if (selectedPaymentMethod === "razorpay") {
      var options = {
        key: "rzp_test_AD8iXRpb3qNLKf",
        amount: "{{ total_amount }}",
        currency: "INR",
        name: "Vishnu_Narikodan",
        description: "Purchase Description",
        image: "https://example.com/your-logo.png",
        order_id: "{{ razorpay_order_id }}",
        handler: function(response) {
          // Handle the Razorpay payment success
          console.log(response);
          // You can redirect the user to a success page or perform further actions
          window.location.href = "{% url 'myapp:my_orders' %}";
        },
        prefill: {
          name: "John Doe",
          email: "john@example.com",
          contact: "9876543210"
        },
        notes: {
          address: "Address"
        },
        theme: {
          color: "#F37254"
        }
      };

      var rzp = new Razorpay(options);
      rzp.open();
    }
  });
</script>
