<!DOCTYPE html>
<html>
<head>
    <title>Product Detail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .button-container {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    {% include 'myapp/navbar.html' %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{product_object.image_url_1}}" alt="Product Image 1">
                    </div>
                    <div class="col-md-4">
                        <img src="{{product_object.image_url_2}}" alt="Product Image 2">
                    </div>
                    <div class="col-md-4">
                        <img src="{{product_object.image_url_3}}" alt="Product Image 3">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h1 class="text-center">{{product_object.name}}</h1>
                
                <p class="product-description">
                   {{product_object.description}}
                </p>
                <div class="button-container">
                    <form action="{% url 'myapp:buynow' product_object.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-block">Buy Now</button>
                    </form>
                    <button class="btn btn-success btn-block" data-product-id="{{ product_object.id }}">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
          var addToCartButtons = document.querySelectorAll('.btn-success');
          addToCartButtons.forEach(function(button) {
            button.addEventListener('click', function() {
              var productId = button.getAttribute('data-product-id');
              var xhr = new XMLHttpRequest();
              xhr.open('POST', '/cart');
              xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
              var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
              var data = 'product_id=' + encodeURIComponent(productId) + '&csrfmiddlewaretoken=' + encodeURIComponent(csrftoken);
              xhr.onload = function() {
                if (xhr.status === 200) {
                  var response = JSON.parse(xhr.responseText);
                  if (response.status === 'success') {
                    button.textContent = 'Added to Cart';
                    button.setAttribute('disabled', 'disabled');
                    alert(response.message);
                  } else {
                    alert(response.message);
                  }
                } else {
                  alert('An error occurred. Please try again.');
                }
              };
              xhr.onerror = function() {
                alert('An error occurred. Please try again.');
              };
              xhr.send(data);
            });
          });
        });
    </script>
</body>
</html>
